@import url('https://typekit.com/fonts/myriad-pro')

/*Common Styles*/
* {
    margin: 0;
    padding: 0;
}
.body {
    background-image: url("./images/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myriad-pro;
}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.white-background {
    background: white;
    border: 1px #d9d9d9;
    padding: 0 20px 0 20px;
}
/* /Common Styles*/

/* Header */
.header-transparent {
    overflow: hidden;
    padding: 21px 0;
}
.social {
    float: left;
}
.phone {
    float: right;
    
}
.image-social {
    width: 30px;
    margin: 0 12px 0 0;
    opacity: 26%;
}
.image-social:hover {
    opacity: 100%;
}
.phone-image {
    display: inline-block;
    height: 35px;
    margin-right: 9px;
}
.phone-text {
    float: right;
    font-size: 18px;
    color: #555555;
}
/* /Header */
.header-white {
    overflow: hidden;
    padding: 36px 0 23px 0;
}
.logo-box {
    float: left;

}
.logo {
    font-size: 30px;
    color: #555555;
}
.orange {
    color: #f0801c;
}
.logo-description {
    font-size: 11px;
    color: #d9d9d9;
}
.nav-menu {
    float: right; 
    overflow: hidden;
    list-style-type: none;
}
.nav-menu-item {
    display: block;
    float: left;
    color: #555555;
    font-size: 15px;
    padding: 0 30px 0 0;
}
.nav-menu-item:last-child {
    padding: 0;
}
.hr {
    background: #d9d9d9;
}
.slider {
    margin: 18px auto;
}