@import url('https://typekit.com/fonts/myriad-pro')

/*Common Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mySlides {display: none}
.mySlides.img {vertical-align: middle;}
}
.body {
    background-image: url("./images/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myriad-pro;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.white-background {
    background: white;
    border: 1px #d9d9d9;
    padding: 0 20px 0 20px;
}
/* /Common Styles*/

/* Header */
.header-transparent {
    overflow: hidden;
    padding: 21px 0;
}
.social {
    float: left;
}
.phone {
    float: right;
    
}
.image-social {
    width: 30px;
    margin: 0 12px 0 0;
    opacity: 26;
}
.image-social:hover {
    opacity: 100%;
}
.phone-image {
    display: inline-block;
    height: 35px;
    margin-right: 9px;
}
.phone-text {
    float: right;
    font-size: 18px;
    color: #555555;
}
/* /Header */

/* logo and nav menu */
.header-white {
    overflow: hidden;
    padding: 36px 0 23px 0;
}
.logo-box {
    float: left;

}
.logo {
    font-size: 30px;
    color: #555555;
}
.orange {
    color: #f0801c;
}
.logo-description {
    font-size: 11px;
    color: #d9d9d9;
}
.nav-menu {
    float: right; 
    overflow: hidden;
    list-style-type: none;
}
.nav-menu-item {
    display: block;
    float: left;
    color: #555555;
    font-size: 15px;
    padding: 0 30px 0 0;
}
.nav-menu-item:last-child {
    padding: 0;
}
/* /logo and nav menu */


.hr {
    background: #d9d9d9;
}
.slider {
    margin: 18px auto;
}



/* Slideshow container */
.slideshow-container {
  max-width: 920px;
  position: relative;
  margin: 18px auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
